In [13]:
import pandas as pd

In [14]:
res=pd.read_csv('titanic.csv', header=0)

In [15]:
res=res.dropna(subset=['Sex', 'Age', 'Pclass', 'Fare'])

In [16]:
res.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
amount = len(res)

In [40]:
training=res[0:int (3*amount/4)]
check=res[int (amount/4):amount]

In [41]:
taining_x=training[['Sex', 'Age', 'Pclass', 'Fare']]
taining_y=training['Survived']
check_x=check[['Sex', 'Age', 'Pclass', 'Fare']]
check_y=check['Survived']

In [42]:
taining_x.head()

      Sex   Age  Pclass     Fare
0    male  22.0       3   7.2500
1  female  38.0       1  71.2833
2  female  26.0       3   7.9250
3  female  35.0       1  53.1000
4    male  35.0       3   8.0500

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
le_Sex = LabelEncoder()
le_Age = LabelEncoder()
le_Pclass = LabelEncoder()
le_Fare = LabelEncoder()

In [45]:
taining_x['Sex']=le_Sex.fit_transform(taining_x['Sex'])
check_x['Sex']=le_Sex.fit_transform(check_x['Sex'])

C:\Users\S510U\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\S510U\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
taining_x.head()

   Sex   Age  Pclass     Fare
0    1  22.0       3   7.2500
1    0  38.0       1  71.2833
2    0  26.0       3   7.9250
3    0  35.0       1  53.1000
4    1  35.0       3   8.0500

In [47]:
from sklearn import tree

In [48]:
model = tree.DecisionTreeClassifier()

In [49]:
model.fit(taining_x, taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [50]:
model.score(taining_x,taining_y)

0.983177570093458

In [51]:
model.score(check_x,check_y)

0.9104477611940298

In [57]:
model.fit(training[['Pclass']], taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [58]:
model.score(training[['Pclass']],taining_y)

0.6579439252336449

In [60]:
model.fit(training[['Pclass', 'Fare']],taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [62]:
model.score(training[['Pclass', 'Fare']],taining_y)

0.811214953271028

In [63]:
model.fit(training[['Fare']],taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [64]:
model.score(training[['Fare']],taining_y)

0.805607476635514

In [67]:
model.fit(taining_x[['Sex']],taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [68]:
model.score(taining_x[['Sex']],taining_y)

0.7757009345794392

In [70]:
model.fit(taining_x[['Age']],taining_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [71]:
model.score(taining_x[['Age']],taining_y)

0.6635514018691588

In [72]:
model.score(check_x[['Age']],check_y)

0.6324626865671642

In [73]:
from sklearn.ensemble import RandomForestClassifier

In [74]:
model2=RandomForestClassifier()

In [78]:
model2.fit(taining_x, taining_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [79]:
model2.score(taining_x, taining_y)

0.9663551401869159

In [80]:
model2.score(check_x, check_y)

0.9067164179104478